{% extends 'base.html' %} {% block title %} ThePursuit | Home{% endblock %} {% block navigation %}
<li class="active"><a href="/">Home</a></li>
<li><a href="{% url 'play' %}" class="play">Play</a></li>
<li><a href="{% url 'display_leaderboard' %}" class="leader">Leaderboard</a></li>
<li><a href="http://tedxpesitbsc.com" target = "_blank">PESITsouth compsoc</a></li>
<li><a href="http://ingeniushack.com" target = "_blank">inGenius2k17</a></li>

{% endblock %} {% block content%}
<div class="start-page">
    <div class="page-header">
        <h1 class="text-center">ThePursuit</h1>
    </div>
    <p>
        <h3>What's ThePursuit?</h3>
        <p style="font-size:18px; " class="text-left">ThePursuit is an online treasure hunt (OTH). For the uninitiated, an OTH is an online game where you need to solve a series of clues to win the ultimate prize.
        </p>

        <h3>Rules</h3>
        <p style="font-size:18px;" class="text-left">
            Like any game, an OTH follows its own set of rules. To make the most out of the game, do give them a read:
        </p>
        <ul style="font-size:16px;">
            <li>

                The game play involves getting to the next level by whatever means necessary.
            </li>
            <li>

                There is only one way to get across levels - Entering the answer in the text box. Changing URL's will not work :P
            </li>
            <li>
                Answers are not case sensitive. In case the answer contains more than one word, do not forget to include spaces.
            </li>
            <li>

                We try to cover most possible answers to a level, but do try out different combinations of answers.
            </li>
            <li>
                Google is your best friend :D If you're stuck on a question, check <a href="https://www.facebook.com/tedxpesitbsc/?ref=br_rs&hc_ref=SEARCH&fref=nf" target="_blank" class="text-primary">TEDxPESITBSC</a> Facebook page for hints.
            </li>
            <li>
                We have observed, based on experiences from the previous OTHs that in spite of getting the right answers, players refuse to enter them and try them out! We have no restrictions on the number of attempts, so do abuse this rule to the fullest.
            </li>
        </ul>

        <p style="font-size:18px;" class="text-left">

            What are you waiting for? Start your pursuit!
        </p>


        <p>
            <div id="startbutton" class="text-center">
                <a href="{% url 'display_level' 1%}" class="startlink"><button class="btn btn-primary btn-lg" id="actualbtn"></button></a>
            </div>

        </p>
         <br>
         {% load static %}
         <p style="font-size:30px;">Powered by</p>
           <div class="row">
           <div class="col-md-6" style=" border-right: 1px solid #ccc; height:100px">

               <a href="http://www.tedxpesitbsc.com" target="_blank"><img src="{% static '../../static/images/ingenius.png' %}"  width="300px"; class="center-block"></a>
           </div>
               <div class="col-md-6">


            <a href="http://www.pesitsouthacm.org" target="_blank"><img src="{% static '../../static/images/compsoc.png' %}" width="450px"; class="center-block"></a>
           </div>

           </div>

        </div>


{% endblock %}
