{% extends 'base.html' %} {% block title %} ThePursuit | Home{% endblock %} {% block navigation %}
<li class="active"><a href="/">Home</a></li>
<li><a href="{% url 'play' %}" class="play">Play</a></li>
<li><a href="{% url 'display_leaderboard' %}" class="leader">Leaderboard</a></li>
<li><a href="http://tedxpesitbsc.com" target = "_blank">TEDxPESITBSC</a></li>


{% endblock %} {% block content%}
    <style>
        /* General  */

        .loader {
            position:fixed;
            left:0;
            top:0;
            width:100%;
            height:100%;
            z-index:9999;
        }
        /* Header  */
        #header{
            background:rgba(0, 0, 0, 0.6);
        }
            .header-overlay{
                padding:30px 0;
            }

        /* Countdown  */

            #countdown-area{

                padding:40px 0;
                margin:0 0 40px;
            }
            ul.countdown{
                list-style:none;
                margin:0;
                padding:0;
                display:block;
                text-align:center;
            }
            ul.countdown li{
                display:inline-block;
                margin:0 20px;
                padding:0;
            }
            ul.countdown li span{
                font-family:'Coustard', sans-serif;
                width:100px;
                display:block;
                font-size:48px;
            }
            ul.countdown li.seperator{
                font-size:80px;
                line-height:70px;
                vertical-align:top;
            }
            ul.countdown li p{
                color: rgba(255,255,255,0.5);
                font-size: 18px;
                text-transform:capitalize;
                margin:0;
                padding:15px 0 30px 0;
            }

        /* Main Heading Style Starts */
            .main-head{
                text-align:center;
                padding:0 0 40px;
            }
            .main-head h2, .main-head p{
            }
            .main-head h2{
                padding:0 0 20px;
            }
            .main-head p{
                font-size:24px;
                line-height:36px;
            }
        @media (max-width: 760px) {
        /* Countdown Style Starts */
            ul.countdown li{
                display:inline-block;
                margin:5px;
                padding:0;
            }
            ul.countdown li span{
                width:80px;
                height:80px;
                display:block;
                font-size:38px;
                font-weight:300;
                line-height:80px;
                border:2px solid #fff;
                -webkit-border-radius:50%;
                   -moz-border-radius:50%;
                        border-radius:50%;
            }
            ul.countdown li p{
                padding:15px 0;
            }
            body{
                /*overflow-y:scroll;*/
            }
            .header-overlay h1{
                margin-top:20px !important;
                margin-bottom:50px !important;
                font-size:50px;
            }
            .main-head p{
            }
            .main-head h2{
                font-size:35px;
                display: none;
            }
            .main-head{
                padding: 0px;
            }
        }
        .header-overlay h1{
            margin-top:100px;
            margin-bottom: 100px;
        }
        </style>

<div class="start-page">
    <div class="page-header">
        <h1 class="text-center">ThePursuit</h1>
    </div>
    <p>
        <h3>What's ThePursuit?</h3>
        <p style="font-size:18px; " class="text-left">ThePursuit is an online treasure hunt (OTH). For the uninitiated, an OTH is an online game where you need to solve a series of clues to win the ultimate prize. ThePursuit is one of the most exciting events around, boasting of 400+ participants last year from 26 countries! We're back again this time and the winner gets a free ticket and a goodie bag!
        </p>

        <h3>Rules</h3>
        <p style="font-size:18px;" class="text-left">
            Like any game, an OTH follows its own set of rules. To make the most out of the game, do give them a read:
        </p>
        <ul style="font-size:16px;">
            <li>

                The game has a total of 15 levels and involves getting to the next level by whatever means necessary.
            </li>
            <li>

                There is only one way to get across levels - Entering the answer in the text box. Changing URL's will not work :P
            </li>
            <li>
                Answers are not case sensitive. In case the answer contains more than one word, do not forget to include spaces.
            </li>
            <li>

                We try to cover most possible answers to a level, but do try out different combinations of answers.
            </li>
            <li>
                Google is your best friend :D If you're stuck on a question, check <a href="https://www.facebook.com/tedxpesitbsc/" target="_blank" class="text-default" style="font-weight: bold; text-decoration: underline; color:red">TEDxPESITBSC</a> Facebook page for hints.
            </li>
            <li>
                We have observed, based on experiences from the previous OTHs that in spite of getting the right answers, players refuse to enter them and try them out! We have no restrictions on the number of attempts, so do abuse this rule to the fullest.
            </li>
        </ul>

        <p style="font-size:18px;" class="text-left">

            What are you waiting for? Start your pursuit!
        </p>


        <p>
            <div id="startbutton" class="text-center">
                <a href="{% url 'display_level' 1%}" class="startlink"><button class="btn btn-primary btn-lg" id="actualbtn"></button></a>
            </div>
<div id="countdown-area">
            <!-- Count Down Timer Starts -->
            <ul class="countdown">
                <li><span data-scroll-reveal="enter bottom and move 20px over 1.2s" class="days">00</span>
                    <p data-scroll-reveal="enter top and move 20px over 1.4s" class="days_ref">
                        days</p>
                </li>
                <li><span data-scroll-reveal="enter bottom and move 20px over 1.6s" class="hours">00</span>
                    <p data-scroll-reveal="enter top and move 20px over 1.8s" class="hours_ref">
                        hours</p>
                </li>
                <li><span data-scroll-reveal="enter bottom and move 2px over 2.0s" class="minutes">00</span>
                    <p data-scroll-reveal="enter top and move 20px over 2.2s" class="minutes_ref">
                        minutes</p>
                </li>
                <li><span data-scroll-reveal="enter bottom and move 20px over 2.4s" class="seconds">00</span>
                    <p data-scroll-reveal="enter top and move 20px over 2.6s" class="seconds_ref">
                        seconds</p>
                </li>
            </ul>
            <!-- Count Down Timer Ends -->
        </div>
        </p>
         <br>
         {% load static %}
         <p style="font-size:30px;">Powered by</p>
           <div class="row">
           <div class="col-md-12 text-center" style="">

               <a href="http://www.tedxpesitbsc.com" target="_blank"><img src="{% static '../../static/images/tedlogo.png' %}"  width="450px"; class="center-block"></a>
           </div>

           </div>

        </div>


{% endblock %}
