{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/website.css' %}" />
    <script src="/static/js/bootstrap.js"></script>
    <title>{% block title %}User test{% endblock %}</title>
</head>

<body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">ThePursuit</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      {% block navigation %}
      {% endblock %}
      </ul>

      {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">

            <li><p class="navbar-text">Logged in as <b>{{ user.username }}</b></p><li>
            <li><a href="/accounts/logout">{% trans "Log out" %}</a> <li>
          </ul>
      {% else %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/accounts/login" class="login">Login</a></li>
                <li><a href="/accounts/register" class="logout">Register</a></li>
            </ul>
      {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div id="particles-js" class="zoindex">

<div class="container" >
<div class="content shadow">
    {% block content %}{% endblock %}
</div>

</div>
</div>
<div class="footer">
    {% block footer %}
    {% endblock %}
</div>
    </div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56071868-1', 'auto');
  ga('send', 'pageview');

</script>
 <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
            <script>
              $("#showmodal").hide();
              let started = false;
            date = new Date();
            var othdate = new Date("Fri Mar 04 2017 18:00:00 GMT+0530 (IST)");
            if((othdate <= date) == true){
                $('#actualbtn').prop('disabled', false);
                $("#actualbtn").text("Start")

                $('.startlink').unbind('click', false);
            }
            else{
                if (window.location.href== "/accounts/") {
   window.location.href = '/';
}
 if (window.location.pathname== "/accounts/login/") {

   window.location.href = '/';
}
 if (window.location.pathname== "/play/") {

   window.location.href = '/';
}
if (window.location.pathname== "/accounts/register/") {

   window.location.href = '/';
}
                $('#actualbtn').prop('disabled', true);
                $('.startlink').bind('click', false);
                $('.play').bind('click', false);
                $('.leader').bind('click', false);
                 $('.login').bind('click', false);
                $('.logout').bind('click', false);
                $("#actualbtn").text("Starting soon!");
            }
            function refreshAt(hours, minutes, seconds) {
    var now = new Date();
    var then = new Date();

    if(now.getHours() > hours ||
       (now.getHours() == hours && now.getMinutes() > minutes) ||
        now.getHours() == hours && now.getMinutes() == minutes && now.getSeconds() >= seconds) {
        then.setDate(now.getDate() + 1);
    }
    then.setHours(hours);
    then.setMinutes(minutes);
    then.setSeconds(seconds);

    var timeout = (then.getTime() - now.getTime());
    setTimeout(function() { window.location.reload(true); started = true }, timeout);
}
refreshAt(18,00,0);
if(started)
$("#showmodal").show();
            </script>


<!-- scripts for particle -->
<script src="/static/js/particles.js"></script>
<script src="/static/js/app.js"></script>

<!-- stats.js -->
<script src="/static/js/stats.js"></script>
<script>


</script>

</body>

</html>
